

* {
  box-sizing: border-box;
}

html {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
}

  <a href="#profile">profile</a>
  <a href="#summary">summary</a>
  <a href="#skills">skills</a>
  <a href="#courses">courses</a>
  <a href="#project">project</a>
  <a href="#education">education</a>
  <a href="#language">language</a>

  html {
  scroll-behavior: smooth; 
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header{
  margin: 0px;
}
.body{
  margin: 0px;
  padding: 0px;
}

.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(30, 1, 34);
  font-weight: 300;
  margin-top: 70px;
  margin-left: 275px;
  margin-bottom: 0px;
}

h3 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 275px;
  font-weight: lighter;
  color: rgb(12, 12, 12);
}

  .main-info-list-1 {
  margin-left: 225px;
  line-height: 40px;
  list-style: none;
  
}
.main-info-list-1-list {
  align-items: center
}


.section-profile {
  display: flex;
  padding-left: 60px;
  
}

.avatarka {
  padding: 0px 40px;
}

  
img {
  padding: 0px 10px;
}

  .nav-list {
  display: flex;
  justify-content: space-between ;
  align-items: center;
  }

  .nav-list {
    background-color: #7a4476;
    padding: 20px 40px;
   }
   
   .nav-list {
    font-family: Arial, Helvetica, sans-serif;
   }

   .nav-item {
    padding: 0 30px;
    line-height: 40px;
  }
 
.nav-link {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.5s;
  }
 
  .nav-link:hover {
    color: #000000;
  }
  .nav-list {
    list-style: none;
  
  }
  
  h2 {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
    font-weight: 300;
    background-color: #7a4476;
    width: 600px;
          color: #ffffff;
    }
    
    p {
      margin-left: 20px;
    }

  .section-summary {
    margin-left: 00px;
    
    width: 600px;
  }
  .nav-link-portfolio {
      text-decoration: none;
      color: #0b0b0b;
      transition: color 0.5s;
    }
   
    .nav-link-portfolio:hover {
      color: #a6820a;
    }

    p {
      line-height: 30px;
    }
  
    .skills-list {
      line-height: 40px;
    }

    .courses-list {
      line-height: 40px;
    }

    .education-list {
      line-height: 40px;
    }

    .language-list {
      line-height: 40px;
    }

    .project-list {
      line-height: 40px;
    }

  .nav-link-project {
      text-decoration: none;
      color: #0b0b0b;
      transition: color 0.5s;
    }
   
    .nav-link-project:hover {
      color: #a6820a;
    }

    .main-conteiner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
     
  }
    .section {
      width: 50%;
    }    
          

    
  
      .footer{
          margin: 0px;
          padding: 0px 20px 0px 20px;
          height: 80px;
      background-color: rgb(191, 191, 191);
      }
      
      .footer-logo {
      display: flex;
      justify-content: space-between;
      align-items: center
    }
      
     